<link rel="stylesheet" href="~/Content/images/muzyka.jpg">

@{
    ViewBag.Title = "Panel administratora";
}
<!--  menu-->

<!-- content-->

<br><br />
<img src="~/Content/images/muzyka.jpg" alt="" />
<br><br />
<h1>Top 5 najczęściej sprzedawanych towarów...</h1>
@{ 
    int i = ViewBag.nazwa.Count;
    for (int j=0; j<i; j++)
    {
        <a href="Towar/DetailsKlient/@ViewBag.id[j]">@ViewBag.nazwa[j]</a>
        <br />  
    }
}

<br><br />
