@model SklepMuzyczny.gatunek

@{
    ViewBag.Title = "DetailsKlient";
}

<h2>DetailsKlient</h2>

<fieldset>
    <legend>gatunek</legend>
    <div class="container">
        <div class="row">
           
            <div class=" col-md-2">
                <div class="display-field">
                    @Html.DisplayFor(model => model.Name)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1">

                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Opis)
                </div>
            </div>
            <div class="col-md-2">
                <div class="display-field">

                    @Html.DisplayFor(model => model.Opis)
                </div>
            </div>
        </div>
    </div>
</fieldset>